/*asterisk indicates default for all elements*/
*{ 
	  font-family: "Poppins", sans-serif;
	  font-weight: 600;
	  font-style: normal;
}

h1 span{
	background-color: #fefefe;
}

h1, p{
 font-family: "DM Sans", sans-serif;
  font-style: normal;
}

/*# calls profile or id name*/
#profile {
	height: 250px;
	width: 200px;
	border-radius: 20%;
	filter: drop-shadow(10px 10px 10px #00000070);
}

body {
	background-color: #DBFDFF;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 400'%3E%3Cdefs%3E%3CradialGradient id='a' cx='396' cy='281' r='514' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23E91C5A'/%3E%3Cstop offset='1' stop-color='%23DBFDFF'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='400' y1='148' x2='400' y2='333'%3E%3Cstop offset='0' stop-color='%23FFAF48' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23FFAF48' stop-opacity='0.5'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='800' height='400'/%3E%3Cg fill-opacity='0.4'%3E%3Ccircle fill='url(%23b)' cx='267.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='532.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='400' cy='30' r='300'/%3E%3C/g%3E%3C/svg%3E");
	background-attachment: fixed;
	background-size: cover;
}

/*modification for landing elements*/
/*the default for elements is magkakatabi sila, so the modification will ensure stacked arrangement of elements*/
/*naka align in single row yung flex*/
/*flex-direction displays in one*/

#landing {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 margin-bottom: 20px;
}

footer{
	background-color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
}

/* . calls for class*/

.fa-facebook,.fa-linkedin, .fa-github {
	color: pink;
	font-size: 35px;
	margin: 0 10px 0 10px;
}

.fa-code {
	font-size: 35px;

}

/*icons ar ein a form of font*/
/*margin: top left bottom right*/
